version: '3.8'

services:
  db:
    image: postgres:15
    container_name: asistapp_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - asistapp-network

  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-app-v3
    restart: always
    ports:
      - "127.0.0.1:3002:3000"
    environment:
      DATABASE_URL: "postgresql://${DB_USER}:${DB_PASS}@db:5432/${DB_NAME}?schema=public"
      PORT: "3000"
      HOST: "${HOST}"
      JWT_SECRET: '${JWT_SECRET}'
    depends_on:
      - db
    networks:
      - asistapp-network

volumes:
  postgres_data:

networks:
  asistapp-network:
    driver: bridge
