version: '3.8'

services:
  db:
    image: postgres:15
    container_name: asistapp_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - asistapp-network

  app:
    # Usar la imagen publicada en GHCR (REEMPLAZA esto por tu ghcr path)
    # Por ejemplo: ghcr.io/miusuario/DemoLife/asistapp_backend:latest
    image: ghcr.io/<GHCR_OWNER>/<GHCR_REPO>/asistapp_backend:latest
    container_name: backend-app-v3
    restart: always
    ports:
      - "127.0.0.1:${PORT}:3000"
    environment:
      DATABASE_URL: "postgresql://${DB_USER}:${DB_PASS}@db:5432/${DB_NAME}?schema=public"
      PORT: "${PORT}"
      HOST: "${HOST}"
      JWT_SECRET: '${JWT_SECRET}'
    depends_on:
      - db
    networks:
      - asistapp-network

volumes:
  postgres_data:

networks:
  asistapp-network:
    driver: bridge
