services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: asistapp
      POSTGRES_USER: arroz
      POSTGRES_PASSWORD: pollo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://arroz:pollo@db:5432/asistapp?schema=public
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  postgres_data: